import json
from pprint import pprint

import requests
import yaml

class TestHttp:
    def setup(self):
        pass

    def test_requests(self):
        r = requests.request(
            {{method}}